<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://images.unsplash.com/photo-1667453466805-75bbf36e8707?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">
        Greve na america
      </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptate debitis assumenda, possimus voluptatum
      beatae, accusantium provident eos facilis unde autem ducimus placeat saepe qui quasi. Molestias expedita omnis
      ullam!</p>
  </div>
</div>