.articles {
  width: 1280px;
  margin: 10px auto;
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
    width: 100%;
    padding: 10px;

    margin: 0;
    gap: 0;
  }
}
